body{
    text-align: center;
    font-family: Open Sans, sans-serif;
    background-color: #8A71C9;
    color: white;
    margin: 0;
}

h1{
    font-size: 60px;
    font-weight: 300px;
}

h2{
    color: #2A0074;
    font-size: 40px;
}

h3{
    font-size: 22px;
    font-style: italic;
}

p{
    font-size: 20px;
    line-height: 1,5;
}

ul{
    list-style-type: none;
}


section{
    max-width: 60%;
   margin: 0 auto;
}

img{
    width: 100%;
}


#titulo-verde{
    color: #04ff9f;
}


#titulo-vermelho{
    color: #FF9E9E;
}

#titulo-amarelo{
    color: #ffe36d;
}

.botao{
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 16px;
    border-radius: 30px;
    background-color: #6c54a9;
    cursor: pointer;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  background-color: #574b90;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.principal{
    background: #ff6cb5;
    height: 40px;
}

.principal a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.principal li{
    display: inline-block;
}